$bleu-turqoise:#4d96a9;
$bleu-turqoise-clair:#8fe3f9;
$bleu-adroise:#855fb1;
$bleu-adroise-clair:#d9b8ff;
$bleu-gris:#28283d;
$gris:#87879d;
$blanc:#fafafa;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap");
// media desktop 1440px
// media query tablette 768px
// media query mobile 375px
html,
body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  margin-left: auto;
  margin-right: auto;
  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1440px;
    height: 1895px;
    overflow: hidden;

    @media screen and(max-width: 768px) {
      width: 768px;
      height: 2128px;
    }
    @media screen and(max-width: 375px) {
      width: 375px;
      height: 2215px;
      justify-content: none;
    }
    header {
      display: flex;
      margin-top: 80px;
      @media screen and (width: 768px) {
        margin-top: 48px;
      }

      img {
        width: 119px;
        height: 28px;
      }
    }
    article.group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1504px;
      height: 358px;
      margin-top: 61px;
      & :nth-child(1) {
        order: 1;
      }
      & :nth-child(2) {
        order: 3;
      }
      & :nth-child(3) {
        order: 2;
      }

      @media (max-width: 768px) {
        margin-top: 64px;
        width: 820px;
        height: 565px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        & :nth-child(1) {
          order: 1;
          width: 394px;
          height: 303px;
        }
        & :nth-child(2) {
          order: 2;
          width: 394px;
          height: 303px;
          margin-left: 32px;
        }
        & :nth-child(3) {
          order: 3;
          margin-top: 72px;
          width: 457px;
          height: 262px;
        }
      }
      @media (max-width: 375px) {
        margin-top: 54px;
        width: auto;
        height: auto;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        & :nth-child(1) {
          order: 1;
          width: 199px;
          height: 153px;
        }
        & :nth-child(2) {
          order: 2;
          width: 199px;
          height: 153px;
          margin-left: 16px;
        }
        & :nth-child(3) {
          order: 3;
          width: 327px;
          height: 88px;
        }
      }
      .group-chat {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 304px;
        width: 540px;
        text-align: center;
        justify-content: space-around;
        margin-left: 88px;
        margin-right: 88px;
        @media screen and (width: 768px) {
          width: 457px;
          height: 262px;
          margin-top: 72px;
        }
        @media screen and (width: 375px) {
          margin-top: 48px;
          width: 375px;
          height: auto;
          justify-content: none;
        }
        .text-chat {
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            width: 445px;
            height: 128px;
            font-weight: 900;
            font-size: 64px;
            line-height: 64px;
            color: $bleu-gris;
            @media screen and (width: 768px) {
              width: 339px;
              height: 96px;
              font-size: 48px;
              line-height: 48px;
            }
            @media screen and (width: 375px) {
              width: 327px;
              height: 88px;
              font-size: 40px;
              line-height: 44px;
            }
          }
          p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            font-style: normal;
            color: $gris;
            width: 540px;
            height: 52px;
            @media screen and (width: 768px) {
              width: 457px;
              height: 52px;
              font-size: 16px;
              line-height: 26px;
              margin-top: 24px;
            }
            @media screen and (width: 375px) {
              width: 327px;
              height: 78px;
              font-size: 16px;
              line-height: 26px;
              margin-top: 24px;
            }
          }
        }
        .button-chat {
          display: flex;
          width: 348px;
          height: 58px;

          @media screen and (width: 375px) {
            flex-direction: column;
            justify-content: space-around;
            margin-top: 134px;
            width: auto;
            height: auto;
          }
          button {
            margin: auto;
          }

          button.download {
            background-color: $bleu-turqoise;
            width: 193px;
            height: 58px;
            color: $blanc;
            font-weight: 900;
            font-size: 16px;
            line-height: 26px;
            border-radius: 29px;
            border-style: none;

            &:hover {
              background-color: #71c0d4;
            }
            span {
              color: $bleu-turqoise-clair;
            }
          }
        }
        button.what {
          background-color: $bleu-adroise;
          width: 139px;
          height: 58px;
          color: $blanc;
          font-weight: 900;
          font-size: 16px;
          line-height: 26px;
          border-radius: 29px;
          border-style: none;
          @media screen and (width: 375px) {
            margin-top: 16px;
          }
          &:hover {
            background-color: #b18bdd;
          }
        }
      }
    }
    .un {
      width: 56px;
      height: 140px;
      margin-top: 110px;
      @media screen and (width: 768px) {
        margin-top: 152px;
      }
      @media screen and (width: 375px) {
        margin-top: 64px;
      }
      .trait-un {
        display: flex;
        flex-direction: column;
        align-items: center;
        p:nth-child(1) {
          width: 1px;
          height: 84px;
          mix-blend-mode: normal;
          opacity: 0.25;
          border: 1px solid #87879d;
          margin-bottom: -16px;
          text-align: center;
          background-color: #87879d;
          border-radius: none;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 56px;
          height: 56px;
          border: 1px solid rgba(135, 135, 157, 0.25);
          box-sizing: border-box;
          border-radius: 29px;
          color: #87879d;
          font-weight: 900;
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
    .img-planch {
      display: flex;
      justify-content: space-between;
      width: 1110px;
      height: 242px;
      margin-top: 64px;
      @media screen and (width: 768px) {
        width: 689px;
        height: 156px;
      }
      @media screen and (width: 375px) {
        width: 327px;
        height: 310px;
        flex-wrap: wrap;
      }
      img {
        background: #d8d8d8;
        border-radius: 8px;
        height: 242px;
        width: 255px;
        @media screen and (width: 768px) {
          width: 164px;
          height: 156px;
        }
        @media screen and (width: 375px) {
          width: 151px;
          height: 143px;
        }
      }
    }
    article.seconde-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // partie ou ya le trait et le chiffre 01 entouret

      div.text-second-part {
        width: 540px;
        height: 240px;
        text-align: center;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @media screen and (width: 768px) {
          width: 573px;
          height: 240px;
          margin-top: 48px;
        }
        @media screen and (width: 375px) {
          width: 327px;
          height: 284px;
          margin-top: 48px;
        }
        p:nth-child(1) {
          color: #4d96a9;
          font-weight: 900;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 4px;
          width: 271px;
          height: 26px;
          text-align: center;
        }
        h2 {
          width: 445px;
          height: 88px;
          color: #28283d;
          font-weight: 900;
          font-size: 40px;
          line-height: 44px;
          margin-top: 16px;
          @media screen and (width: 375px) {
            width: 327px;
            height: 72px;
            font-size: 32px;
            line-height: 36px;
            text-align: center;
          }
        }
        p:nth-child(3) {
          width: 540px;
          height: 78px;
          color: #87879d;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          text-align: center;
          margin-top: 32px;
          @media screen and (width: 768px) {
            width: 573px;
            height: 78px;
            font-size: 16px;
          }
          @media screen and (width: 375px) {
            width: 327px;
            height: 130px;
            font-size: 16px;
          }
        }
      }
    }
    .deux {
      width: 56px;
      height: 140px;
      margin-top: 72px;

      @media screen and (width: 375px) {
        margin-top: 64px;
      }
      .trait-deux {
        display: flex;
        flex-direction: column;
        align-items: center;

        p:nth-child(1) {
          width: 1px;
          height: 84px;
          mix-blend-mode: normal;
          opacity: 0.25;
          border: 1px solid #87879d;
          margin-bottom: -16px;
          text-align: center;
          background-color: #87879d;
          border-radius: none;
          margin-top: 27px;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 56px;
          height: 56px;
          border: 1px solid rgba(135, 135, 157, 0.25);
          box-sizing: border-box;
          border-radius: 29px;
          color: #87879d;
          font-weight: 900;
          font-size: 16px;
          line-height: 26px;
          background-color: #fafafa;
          z-index: 1;
        }
      }
    }
    footer {
      width: 1440px;
      height: 308px;
      background-image: url(/starter-code/assets/desktop/image-footer.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      mix-blend-mode: normal;
      color: #fafafa;
      @media screen and (width: 768px) {
        height: 428px;
        background-position: center;
      }
      @media screen and (width: 375px) {
        height: 375px;
        background-position: center;
      }
      .text-footer {
        background-color: rgba(77, 151, 169, 0.8);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        height: 308px;
        @media screen and (width: 768px) {
          flex-direction: column;
          justify-content: space-around;
          height: 428px;
        }
        @media screen and (width: 375px) {
          flex-direction: column;
          justify-content: space-around;
          height: 428px;
          text-align: center;
        }

        h4 {
          width: 350px;
          height: 88px;
          font-weight: 900;
          font-size: 40px;
          line-height: 44px;
          @media screen and (width: 768px) {
            width: 457px;
            margin-top: 64px;
            margin-bottom: 32px;
          }
          @media screen and (width: 375px) {
            width: 327px;
            height: 72px;
            margin-top: 64px;
            margin-bottom: 0;
            font-size: 32px;
            line-height: 36px;
          }
        }
        p {
          width: 350px;
          height: 78px;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          @media screen and (width: 768px) {
            width: 573px;
            text-align: center;
            margin-top: 32px;
          }
          @media screen and (width: 375px) {
            width: 327px;
            height: 78px;
            margin-top: 24px;
          }
        }
        button {
          width: 193px;
          height: 58px;
          font-weight: 900;
          color: #fafafa;
          background: #855fb1;
          font-size: 16px;
          list-style: 26px;
          border-radius: 29px;
          border-style: none;
          @media screen and (width: 768px) {
            text-align: center;
            margin-top: 40px;
            margin-bottom: 66px;
          }
          @media screen and (width: 375px) {
            text-align: center;
            margin-top: 32px;
            margin-bottom: 72px;
          }
          &:hover {
            background-color: #b18bdd;
          }
          span {
            color: #d9b8ff;
          }
        }
      }
    }
  }
}
