//variable
$bleu-turqoise: #4d96a9;
$bleu-turqoise-clair: #8fe3f9;
$bleu-adroise: #855fb1;
$bleu-adroise-clair: #d9b8ff;
$bleu-gris: #28283d;
$gris: #87879d;
$blanc: #fafafa;
@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Red Hat Display", sans-serif;
  overflow: visible;

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1440px;
    height: 1895px;
    overflow: hidden;

    //media query tablette
    @media screen and(max-width: 768px) {
      width: 768px;
      height: 2128px;
      // overflow: visible;
    }

    ///
    header {
      display: flex;
      margin-top: 80px;
      @media screen and (width: 768px) {
        margin-top: 48px;
      }
      img {
        width: 119px;
        height: 28px;
      }
    }
    article.group {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 1504px;
      height: 358px;
      margin-top: 61px;
      // overflow: ;
      & :nth-child(1) {
        order: 1;
      }
      & :nth-child(2) {
        order: 3;
      }
      & :nth-child(3) {
        order: 2;
      }
      // media query tablette
      @media (max-width: 768px) {
        margin-top: 64px;
        width: 820px;
        height: 565px;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        & :nth-child(1) {
          order: 1;
          // flex: 2;
          width: 394px;
          height: 303px;
          // margin-right: 32px;
        }
        & :nth-child(2) {
          order: 2;
          width: 394px;
          height: 303px;
          margin-left: 32px;

          // flex: 2;
        }
        & :nth-child(3) {
          order: 3;
          margin-top: 72px;
          width: 457px;
          height: 262px;
          // flex: 1;
        }
      }
      .group-chat {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 304px;
        width: 540px;
        text-align: center;
        justify-content: space-between;
        margin-left: 88px;
        margin-right: 88px;
        @media screen and (width: 768px) {
          width: 457px;
          height: 262px;
          margin-top: 72px;
        }
        .text-chat {
          display: flex;
          flex-direction: column;
          align-items: center;
          h1 {
            width: 445px;
            height: 128px;
            font-weight: 900;
            font-size: 64px;
            line-height: 64px;
            color: $bleu-gris;
            @media screen and (width: 768px) {
              width: 339px;
              height: 96px;
              font-size: 48px;
              line-height: 48px;
            }
          }
          p {
            font-weight: 500;
            font-size: 18px;
            line-height: 26px;
            font-style: normal;
            color: $gris;
            width: 540px;
            height: 52px;
            @media screen and (width: 768px) {
              width: 457px;
              height: 52px;
              font-size: 16px;
              line-height: 26px;
              margin-top: 24px;
            }
          }
        }
        .button-chat {
          display: flex;
          width: 348px;
          height: 58px;

          @media screen and (width: 768px) {
            // margin: 16px;
          }
          button {
            margin: auto;
          }

          button.download {
            background-color: $bleu-turqoise;
            width: 193px;
            height: 58px;
            color: $blanc;
            font-weight: 900;
            font-size: 16px;
            line-height: 26px;
            border-radius: 29px;
            border-style: none;
            &:hover {
              background-color: #71c0d4;
            }
            span {
              color: $bleu-turqoise-clair;
            }
          }
        }
        .what {
          background-color: $bleu-adroise;
          width: 139px;
          height: 58px;
          color: $blanc;
          font-weight: 900;
          font-size: 16px;
          line-height: 26px;
          border-radius: 29px;
          border-style: none;
          &:hover {
            background-color: #b18bdd;
          }
        }
      }
    }
    .un {
      width: 56px;
      height: 140px;
      margin-top: 110px;
      @media screen and (width: 768px) {
        margin-top: 152px;
      }
      .trait-un {
        display: flex;
        flex-direction: column;
        align-items: center;
        p:nth-child(1) {
          width: 1px;
          height: 84px;
          mix-blend-mode: normal;
          opacity: 0.25;
          border: 1px solid #87879d;
          margin-bottom: -16px;
          text-align: center;
          background-color: #87879d;
          border-radius: none;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 56px;
          height: 56px;
          border: 1px solid rgba(135, 135, 157, 0.25);
          box-sizing: border-box;
          border-radius: 29px;
          color: #87879d;
          font-weight: 900;
          font-size: 16px;
          line-height: 26px;
        }
      }
    }
    .img-planch {
      display: flex;
      justify-content: space-between;
      width: 1110px;
      height: 242px;
      margin-top: 64px;
      @media screen and (width: 768px) {
        width: 689px;
        height: 156px;
      }
      img {
        background: #d8d8d8;
        border-radius: 8px;
        height: 242px;
        width: 255px;
        @media screen and (width: 768px) {
          width: 164px;
          height: 156px;
        }
      }
    }
    article.seconde-part {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      // partie ou ya le trait et le chiffre 01 entouret

      div.text-second-part {
        width: 540px;
        height: 240px;
        text-align: center;
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        @media screen and (width: 768px) {
          width: 573px;
          height: 240px;
          margin-top: 48px;
        }
        p:nth-child(1) {
          color: #4d96a9;
          font-weight: 900;
          font-size: 16px;
          line-height: 26px;
          letter-spacing: 4px;
          width: 271px;
          height: 26px;
          text-align: center;
        }
        h2 {
          width: 445px;
          height: 88px;
          color: #28283d;
          font-weight: 900;
          font-size: 40px;
          line-height: 44px;
          margin-top: 16px;
        }
        p:nth-child(3) {
          width: 540px;
          height: 78px;
          color: #87879d;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          text-align: center;
          margin-top: 32px;
          @media screen and (width: 768px) {
            width: 573px;
            height: 78px;
            font-size: 16px;
          }
        }
      }
    }
    .deux {
      width: 56px;
      height: 140px;
      margin-top: 72px;

      .trait-deux {
        display: flex;
        flex-direction: column;
        align-items: center;

        p:nth-child(1) {
          width: 1px;
          height: 84px;
          mix-blend-mode: normal;
          opacity: 0.25;
          border: 1px solid #87879d;
          margin-bottom: -16px;
          text-align: center;
          background-color: #87879d;
          border-radius: none;
          margin-top: 27px;
        }
        p {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 56px;
          height: 56px;
          border: 1px solid rgba(135, 135, 157, 0.25);
          box-sizing: border-box;
          border-radius: 29px;
          color: #87879d;
          font-weight: 900;
          font-size: 16px;
          line-height: 26px;
          background-color: #fafafa;
          z-index: 1;
        }
      }
    }
    footer {
      width: 1440px;
      height: 308px;
      background-image: url(/starter-code/assets/desktop/image-footer.jpg);
      background-repeat: no-repeat;
      mix-blend-mode: normal;
      color: #fafafa;
      @media screen and (width: 768px) {
        // width: 1440px;
        // height: 960px;
        // background-size: cover;
      }
      .text-footer {
        background-color: rgba(77, 151, 169, 0.8);
        display: flex;
        flex-direction: row;
        align-items: center;
        @media screen and (width: 768px) {
          flex-direction: column;
          // width: 768px;
          height: 428px;
        }

        h4 {
          width: 350px;
          height: 88px;
          font-weight: 900;
          font-size: 40px;
          line-height: 44px;
          // margin: 116px 125px 104px 165px;
          @media screen and (width: 768px) {
            width: 457px;
            // margin-top: 64px;
            text-align: center;
          }
        }
        p {
          width: 350px;
          height: 78px;
          font-weight: 500;
          font-size: 18px;
          line-height: 26px;
          // margin: 116px 0px 114px 0px;
          @media screen and (width: 768px) {
            width: 573px;
            text-align: center;
            margin-top: 32px;
          }
        }
        button {
          width: 193px;
          height: 58px;
          font-weight: 900;
          color: #fafafa;
          background: #855fb1;
          font-size: 16px;
          list-style: 26px;
          border-radius: 29px;
          border-style: none;
          // margin: 131px 165px 119px 92px;
          @media screen and (width: 768px) {
            width: 193px;
            // margin-top: 58px;
            text-align: center;
            // margin-top: 64px;
          }
          &:hover {
            background-color: #b18bdd;
          }
          span {
            color: #d9b8ff;
          }
        }
      }
    }
  }
}
